<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="chatroom-window">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      
      .container{width: 100%; height: 600px; margin: 100 auto; border:solid 1px grey ; background-color:aliceblue
      padding:20px;
      }
      .container h1{
        padding-left: 10px;
        color:blue
      }

      .chatHistoryBox{ width: 70%; height: 50%; margin: 0 auto; border: solid 1px yellow; 
        background-color:#fcf;
        padding:10px;
      }

      paper-textarea{
        width: 100%; margin:  0 auto;
        background-color:  yellow;
      }

      paper-input{
        width: 20%; 
        float:left
      }
      
    </style>

    <div class="container">
      
      <h1>Your Chatroom</h1>
       
      <paper-input label="Search" class="select pass" name="search" id="search" type="text"
       placeholder="Search"
        required error-message="Test Required!" ></paper-input>
        <paper-button raised id="searchbtn" class="RegButton">SEARCH</paper-button>
        
    </br>
  </br>


      <div name="histmessage" id="histmessage" class="chatHistoryBox" > {{message}}
      </div>

      <paper-textarea name="chatmessage" id="chatmessage"
      no-label-float
      hidden$="[[singleLine]]"
      value="{{text}}"
      >
    </paper-textarea>
    <paper-button raised on-click="submitvalue" id="submitbtn" class="RegButton">SEND</paper-button>
    </div>


    <!-- ajax for  posting chat data-->
    <iron-ajax id="SendPkg"
    url="http://10.117.189.206:8080/linus/message"
    method="POST"
    handle-as="json"
    content-type="application/json"
    body='{{sendvalues}}'
    on-response="_handleResponse"
    on-error="_handleErrorResponse">
  </iron-ajax>
  </template>

  <script>
    class ChatroomWindow extends Polymer.Element {
      static get is() { return 'chatroom-window'; }
      static get properties() { 

       return {
        username:{
            type:String,
            value:''
          } ,
          message:{
            type:String,
            value:''
          }  , 

          chatRoomId:{
            type:String,
            value:''
          } ,

          sendvalues:{
            type: Object
          }
       }
      }

      submitvalue(){
       let message= this.$.chatmessage.value;
        
      

        if(message=="" )
          {      
              this.msg="Please enter some text";   
            //  this.hide=false;
          } else{ 
         
          //remove below 2 lines once java api redy
          //  this.msg="Placed Your Order Successfully"; 
          //  this.hide=false; return false;
          //ajax send value
          var ajaxRequest= this.$.SendPkg;
          var  myStorage = window.localStorage;
          this.sendvalues= {
            "username": "testuser",
            "message":message,
            "chatRoomId": myStorage.getItem("cid")
            
             } 
           this.$.SendPkg.generateRequest();
          }  
       
      }
      //ajax after post response handle method
      _handleResponse(event, request) 
       {  
              var response = request.response;
              console.log(JSON.stringify(response));
              console.log("message posted");
                
               var chatmes = this.$.chatmessage.value
               if(chatmes != "")
              this.message = this.$.histmessage.value + "\n "+ chatmes;
              else
              this.message = this.$.histmessage.value;

              this.$.histmessage.value = this.message;
              this.$.chatmessage.value = null; 

              
               //this.hide=false;
              /// window.history.pushState({}, null, '/orderstatus);
               //
       }
       //ajax after post response handle error response
      _handleErrorResponse(event) 
       {
              console.log(event.detail.error.message);
       }
      

    }

    window.customElements.define(ChatroomWindow.is, ChatroomWindow);
  </script>
</dom-module>
