<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">

<dom-module id="chatroom-search">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
        
      }
      .container{width: 400px; height: 400px; margin: 100 auto; border:solid 1px grey;
      padding:20px;
      }

       
    </style>

    <div class="container">
      
      <h1>Chatroom Search</h1>

      <paper-dropdown-menu label="Select Chatroom"   class="select pass">
        <paper-listbox slot="dropdown-content" name="cahtroomid" on-iron-select="_gotoSelectedChatroom">
          <template is="dom-repeat" items="{{chatroomsResponse}}">
          <paper-item id={{item.id}}>{{item.chatRoom}}</paper-item>
          <paper-item></paper-item>
         
          
        </template>
         
        </paper-listbox>
      </paper-dropdown-menu> 

    <!--  <paper-dropdown-menu label="Select Chatroom"   class="select pass">
        <paper-listbox slot="dropdown-content" on-iron-select="_gotoSelectedChatroom">
         
         
          <paper-item>test1</paper-item>
          <paper-item>test2</paper-item>
         
          
        </template>
         
        </paper-listbox>
      </paper-dropdown-menu>  -->
      
    </div>

    <iron-ajax auto
          url="http://10.117.189.206:8080/linus/chatroom"
          params='{}'
          handle-as="json"
          last-response="{{chatroomsResponse}}"></iron-ajax>
  </template>

  <script>
    class ChatroomSearch extends Polymer.Element {
      static get is() { return 'chatroom-search'; }
      static get properties() {
        return {
          
         
          chatroomId:{
            type:Number,
            value:''
          }  , 
          sendvalues:{
            type: Object
          }
         
        };
      }
      _gotoSelectedChatroom (e) {
        this.chatroomId = e.target.selectedItem.id;
       // alert(this.chatroomId);
        //alert(e.target.selectedItem.id);
        window.localStorage.setItem("cid",  this.chatroomId);
      
        window.history.pushState({}, null, '/chatroom'); 
               window.location.href="/chatroom";

      }



    }

    window.customElements.define(ChatroomSearch.is, ChatroomSearch);
  </script>
</dom-module>
